<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<style>

</style>-->

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spacer"></div>
</div>
<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span aling="center">App para encriptar mensajes!</span>
  </div>

  <!-- Resources
  <h2>Resources</h2>-->
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener">
      <label id="inputMessage"></label>
      <input type="text" class="form-control" name="inMess" id="imsg" [(ngModel)]="valormsg"
      placeholder="Enter your message" required>
      <button mat-stroked-button (click)="sendMessage()">Send!</button>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <!--<label *ngIf='sendMessage()!=0'></label>-->
      <button mat-stroked-button (click)="get()">Get!</button>
      <label class="responseg">{{responseg}}</label>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <h4 class="responseg">
        Respuesta: {{responseg}}</h4>
    </a>
    <a class="card" target="_blank" rel="noopener">
      <!--<label *ngIf='sendMessage()!=0'></label>-->
      <button mat-stroked-button (click)="getPublicKey()">Get PublicKey!</button>
      <label class="responseg">{{responsegpub}}</label>
    </a>
  </div>

<router-outlet></router-outlet>
