<div class="card">
  <div class="card-header">
    <h2>Homomorphism!</h2></div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label id="inputNum1">Numbers to send</label>
        <input type="text" class="form-control" name="inNum1" id="inum1"
        placeholder="Enter the first number" [(ngModel)]="valornum1" required>
        <input type="text" class="form-control" name="inNum2" id="inum2"
        placeholder="Enter the second number" [(ngModel)]="valornum2" required>
        </div>
      <div class="form-group">
        <button type="button" class="btn btn-outline-primary" (click)="postNumbers()">Suma!</button>
        <label>Respuesta de la suma homomorfica:</label>
        <label>{{ sumH }}</label>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-outline-primary" (click)="postNumMultiply()">Multiplicación!</button>
        <label>Respuesta de la multiplicación homomorfica:</label>
        <label>{{ mulH }}</label>
      </div>
      <!--<div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>-->
    </form>
  </div>
</div>
<!--<router-outlet></router-outlet>-->
